# virtual environment
.venv/

# directories
/git-scripts/
/04-jobs/
/05-filelists/
/test/

# files
/test/functions/confidential.txt
/02-scripts/functions/confidential.txt
/02-scripts/convert2hdf5_old.py
/03-source/contrast_vs_q2.npy
/03-source/contrast_vs_q.npy

# miscellanea in tests
# /test/*.yml
# /test/jobs_stopped
# /test/jobs
# /test/some_shit_img.npy
# /test/test_email.py
# /test/results
# /test/image_for_mask.npy
# /test/hdf5

# Jupyter Notebook
/tests/.ipynb_checkpoints/
/01-notebooks/.ipynb_checkpoints/
01-notebooks/functions/.ipynb_checkpoints/

# # IPython
# profile_default/
# ipython_config.py

# # pyenv
# .python-version

# boh
/02-scripts/functions/__pycache__/metadata.cpython-38.pyc
/01-notebooks/functions/__pycache__/h5_tools.cpython-38.pyc
/02-scripts/functions/__pycache__/slurm.cpython-38.pyc